div.mapExport
{
  align-items       : center;
  background-color  : rgba(0, 0, 0, 0.3);
  bottom            : 0px;
  display           : flex;
  justify-content   : center;
  left              : 0px;
  position          : absolute;
  right             : 0px;
  top               : 0px;

  textarea
  {
    background-color  : #333;
    color             : #fff;
    height            : 75%;
    resize            : none;
    width             : 50%;
  }
}
